@keyframes text-animation {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    25% {
        transform: translateX(2px) rotate(-2deg);
    }
    50% {
        transform: translateX(0) rotate(0deg);
    }
    75% {
        transform: translateX(-2px) rotate(2deg);
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes text-color {
    0% {
        color: white;
    }
    25% {
        color: #ff8c00c5;
    }
    50% {
        color: white;
    }
    75% {
        color: #ff8c00c5;
    }
    100% {
        color: white;
    }
}

@keyframes bg-animation {
    0%, 25% {
        background-image: url(/img/bg-img.jpg);
    }
    25%, 50% {
        background-image: url(/img/bg-img2.jpg);
    }
    50%, 75% {
        background-image: url(/img/bg-img3.jpg);
    }
    75%, 100% {
        background-image: url(/img/bg-img4.jpg);
    }
    100% {
        background-image: url(/img/bg-img.jpg);
    }
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    animation: bg-animation 15s infinite;
    backdrop-filter:  blur(0px) brightness(0.2);
    background-size: cover;
    color: white;
    user-select: none;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 9% 85% 5%;
}


.section-1{
    display: grid;
    grid-template-columns: 20% 80%;
    background: linear-gradient(135deg, #3498db, #9b59b6);
    height: 8vh;
    font-family: 'Signika Negative', sans-serif;
}
.section-1 a{
    text-decoration: none;
}
.section-2{
    padding: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.section-2 h1{
    font-family: 'Signika Negative', sans-serif;
    font-size: 70px;
    margin-top: 25px;
    animation: text-color 6s infinite;
}
.section-2 .welcome-section, .user-type-buttons p{
    font-family: 'Signika Negative', sans-serif;
    font-size: 25px;
    margin-top: 25px;
}
.welcome-section p{
    animation: text-animation 3s infinite;
}
.section-3{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.welcome-section {
    text-align: center;
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.welcome-section p{
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 100;
}

.user-type-buttons {
    background-color: #cac2c29d;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap: 75px;
    align-items: center;
    flex-direction: column;
}
.user-type-buttons p{
    padding: 45px;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    width: 15vw;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    font-family: 'Signika Negative', sans-serif;
}

button:hover {
    background-color: #555;
    width: 16vw;
}

nav h1{
    margin: auto;
    font-size: 40px;
    padding: 10px;
    color: white;
}
nav h3{
    margin: auto;
    font-size: 20px;
    padding: 15px;
    text-align: end;
    color: white;
    transition: all 200ms ease-in-out;
}
nav h3:hover{
    color: rgb(204, 204, 204);
}