.fw-bolder{
    display: none;
}

@media (max-width:992px) {
    .fw-bolder{
        display: block;
    }
}



/* Esto que viene abajo se supone que es del muro */



body{
    overflow: visible;
    min-height: 100vh;
}

.body-muro{
    background-image: url(../images/muro-bg.jpg);
    background-size: cover;
    backdrop-filter: blur(20px) !important;
}

.muro{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 1fr;
}
.muro > .column-1{
    padding: 20px;
    width: 100%;
    background-color: #212537;
}
.muro > .column-2{
    padding: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.post{
    width: 600px;
    height: 600px;
    padding: 20px;
    gap: 30px;
    background-color: #eee;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes animacion-hover {
    0%{
        box-shadow: 0px 1px 10px 9px #ff660077;
        background-color: #ff660077;
    }
    25%{
        box-shadow: 0px 1px 10px 9px #ff660033;
        background-color: #ff660033;
    }
    50%{
        box-shadow: 0px 1px 10px 9px #ff660077;
        background-color: #ff660077;
    }
    75%{
        box-shadow: 0px 1px 10px 9px #ff660033;
        background-color: #ff660033;
    }
    100%{
        box-shadow: 0px 1px 10px 9px #ff660077;
        background-color: #ff660077;
    }
}


.logo > img{
    border-radius: 40%;
    padding: 5px;
    transition: all .2s ease;
}
.logo > img:hover{
    animation: animacion-hover 5s infinite;
}

.list-group{
    margin-top: 30px;
}
.list-group-item{
    background: transparent;
    color: #fff;
    border: none;
    transition: all .2s ease-in-out;
}
.list-group-item:hover{
    background: transparent;
    color: #ffa500;
}
.list-group-item:focus{
    background: transparent;
    color: #ffa500;
}
.list-group-item:active{
    background: transparent;
    color: #ff6600;
}

.user{
    display: grid;
    grid-template-columns: 1fr 10%;
    width: 100%;
}

.user .name-follow{
    display: flex;
    flex-direction: row;
}

.user .follow{
    border: 1px solid #212537;
    font-size: .8em;
    cursor: pointer;
    transition: all .2s ease;
}
.user .follow:hover{
    border: 1px solid #212537;
    background-color: #212537;
    color: #fff;
    font-size: .8em;
}

.user .time-published{
    font-size: 1em;
}

.image{
    background-image: url(../images/calculator-bg.webp);
    background-size: cover;
    width: 550px;
    height: 500px;
}

.icons i{
    font-size: 3ex;
    margin: 0 2px;
}

@media (max-width:992px) {
    .muro > .column-1{
        display: none;
    }
    .muro > .column-2{
        margin: auto;
        width: 100vw;
        height: 100%;
    }
}
